USE [master]
GO
/****** Object:  Database [SunScopeDB]    Script Date: 1/7/2018 10:35:33 PM ******/
CREATE DATABASE [SunScopeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SunScopeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SunScopeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SunScopeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SunScopeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SunScopeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SunScopeDB]
GO
USE [SunScopeDB]
GO
/****** Object:  User [radhika]    Script Date: 1/7/2018 10:35:34 PM ******/
CREATE USER [radhika] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tbl_customer]    Script Date: 1/7/2018 10:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustName] [varchar](max) NULL,
	[Email] [varchar](max) NULL,
	[CustPassword] [varchar](max) NULL,
	[Mobile] [varchar](20) NULL,
	[CustAddress] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[CustState] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[Pincode] [varchar](max) NULL,
	[IsActive] [bit] NULL,
	[RegistrationDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
